.formWrapper {
  @apply w-full max-w-lg
}

.formInput {
  @apply appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none
}

.formInputWrapper {
  @apply flex items-center border-b border-blue-500 py-2
}

