.label {
  @apply block mb-2 text-sm font-medium text-gray-900
}

.select {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 outline-none
}
