@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  @apply h-full
}

#root {
  @apply h-full;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

p {
  @apply pb-2.5
}

a {
  @apply font-medium text-blue-600 hover:underline
}
